body {
	width: 280px;
	margin: 0 auto;
	padding: 0;
	background-color: white;
}

h1 { text-align: center; }

#screen {
	border: 2px solid black;
}

#userInfo {
	width: 280px;
}

#userInfo #apple, #userInfo #trophy {
	width: 100px;
	height: 48px;
	display: inline-block;
	font-size: 40px;
	position: relative;
}

#userInfo #trophy {
	margin-left: 10px;
}

#userInfo #trophy span, #userInfo #apple span {
	top: 4px;
	position: absolute;
}

#gameCommands {
	margin-top: 20px;
}

#buttons {
	/*border: 1px solid black;*/
	width: 280px;
	height: 140px;
	position: relative;
	display: block;
}

#buttons img {
	width: 140px;
	height: 140px;
}

#buttons #btnStart {
	top: 45px;
	right: 0px;
	width: 120px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 10px;
	position: absolute;
}

