body {
	width: 280px;
	margin: 0 auto;
	padding: 0;
	background-color: white;
}

h1 { text-align: center; }

#screen {
	border: 2px solid black;
}

#userInfo {
	width: 280px;
}

#userInfo #apple, #userInfo #score, #userInfo #speed {
	width: 80px;
	height: 32px;
	display: inline-block;
	font-size: 30px;
	position: relative;
	box-sizing: border-box;
}

#userInfo #score {
	width: 132px;
	padding-left: 10px;
}

#userInfo #speed {
	width: 60px;
}

#userInfo #apple img, #userInfo #score img, #userInfo #speed img {
	height: 32px;
	width: 32px;
}

#userInfo #score span, #userInfo #apple span, #userInfo #speed span {
	top: 2px;
	padding-left: 4px;
	position: absolute;
	box-sizing: border-box;
}

#gameCommands {
	margin-top: 20px;
}

#buttons {
	/*border: 1px solid black;*/
	width: 280px;
	height: 140px;
	position: relative;
	display: block;
}

#buttons img {
	width: 140px;
	height: 140px;
}

#buttons #btnStart {
	top: 45px;
	right: 0px;
	width: 120px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 10px;
	position: absolute;
}

